@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.home {
  margin: 0 5px;

  .header {
    height: 75px;
    padding: 0px;
    border-bottom: 1px solid #6c757d;
    background-color: #0dcaf0;
  }
  .homeContainer {
    display: flex;
    .sidebar {
    }
    .content {
      margin: 5px auto;
      p {
        margin: 5px;
      }
      .userDashboard {
        width: 95vw;
        margin: 10px 0px;
        .userDashboard_title {
          display: flex;
          justify-content: space-between;
          // border: 1px solid red;
          height: 60px;
          align-items: center;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          .user_search {
            input {
              margin-left: 5px;
            }
          }
          .user_new {
            border: 1px solid green;
            padding: 5px 10px;
            border-radius: 5px;
            max-height: 60px;
            text-align: center;
            a {
              text-decoration: none;
              color: green;
            }
          }
        }
        @include media-breakpoint-up(sm) {
          .newUserForm {
            width: 50vw;
            margin: auto;
          }
        }
      }
      @include media-breakpoint-up(sm) {
        .widgets {
          display: flex;
          padding: 20px 20px;
          gap: 20px;
          border-top: 0.5px solid rgb(230, 227, 227);
          width: 95vw;
        }
      }
      @include media-breakpoint-down(sm) {
        .widgets {
          display: block;
          width: 95vw;
        }
      }
      .table {
        width: 95vw;
      }
    }
  }
  .footer {
    border-top: 1px solid #6c757d;
  }
}
